<div class='card'>
    <form #userform = "ngForm" (ngSubmit)="editBook()">
<div class='card-header'>
 UPDATE BOOK DETAILS
</div>
<div class='card-body'>            
  <small><p class="text-danger">All fields should begin with Capital letter</p></small> 
  <div class="form-group">
    <label>Title</label>
    <input type="text" name="title" class="form-control" [(ngModel)]="bookItem.title" pattern="^[A-Z0-9][A-Za-z0-9\'&\-]+([\ A-Za-z0-9][A-Za-z0-9\'&\-]+)*" required/> <br>               
  </div>
    <div class="form-group"> 
      <label>Author</label>
      <input type="text" name="author" class="form-control" [(ngModel)]="bookItem.author" pattern="^[A-Z][A-Za-z\'\-]+([\ A-Za-z][A-Za-z\'\-]+)*"  required/> <br>                
    </div>
    <div class="form-group">
      <label>Genre</label>
      <input type="text" name="genre" class="form-control" [(ngModel)]="bookItem.genre" pattern="^[A-Z][A-Za-z\'\-]+([\ A-Za-z][A-Za-z\'\-]+)*" /><br>

    </div>
    <div class="form-group">
      <label>Description</label>
      <input type="text" name="description" class="form-control" [(ngModel)]="bookItem.description" minlength="20" required/><br>
      
    </div>
    <div class="form-group">
      <label>Image</label>
  <input type="text" name="imageUrl" class="form-control" [(ngModel)]="bookItem.imageUrl" required/><br>
  
    </div>
    <button [disabled]="userform.form.invalid">Submit</button>
                  

</div>
</form>