
<div class="container">
    <div class="row">
      
      <div class="col-md-12"> 
        
        <div class="panel">
          <div class="panel-body">
            
            
            
            <!--/stories-->
            <img src="https://media.istockphoto.com/vectors/open-books-black-silhouettes-vector-id965384938" class="d-block w-100" alt="...">
            <!--/stories-->
          
          </div>
        </div>
                                                                                         
                                                      
                                                        
         </div><!--/col-12-->
    </div>
  </div>